@import url("animation.css");

:root {
	-webkit-user-select: none;
	user-select: none;
}

html, body {
	width: 100vw;
	height: 100vh;
	background-image: url(images/bg.gif);
	background-repeat: repeat;
	font-size: 16px;
	margin: 0;
	padding: 0;
	position: relative;
}

* {
	box-sizing: border-box;
	position: absolute;
}

#frame {
	left: 50%;
	top: 50%;
	width: 800px;
	height: 600px;
	transform: translate(-50%, -50%);
	border-radius: 1.5rem;
	overflow: hidden;
	touch-action: none;
}

.background {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

	.background .common {
		background-repeat: no-repeat;
		background-size: contain;
	}

	.background > .background-image-1 {
		left: -400px;
		top: -100px;
		width: 1392px;
		height: 983px;
		background-image: url(shapes/87.svg);
	}

	.background > .background-image-2 {
		left: 70px;
		top: 480px;
		width: 598px;
		height: 230px;
		background-image: url(shapes/90.svg);
		transform: scale(2.75, 2.75);
	}

	.background > .background-image-3 {
		left: 100px;
		top: 220px;
		width: 788px;
		height: 359px;
		background-image: url(shapes/88.svg);
		transform: scale(1.5, 1.5);
		opacity: 0.5;
	}

.bottles {
	z-index: 20;
	width: 100%;
	height: 100%;
}

	.bottles .common-1 {
		width: 145px;
		height: 143px;
		background-repeat: no-repeat;
		background-size: contain;
		transform: scale(1.2, 1.2);
		color: #eeeeee;
		font-size: 36px;
		font-family: "Arial Black";
		line-height: 190px;
		text-align: center;
	}

	.bottles .common-2 {
		left: 37px;
		width: 70px;
		height: 43px;
		background-image: url(shapes/139.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}

	.bottles > .bottle-1 {
		left: 240px;
		top: 240px;
		background-image: url(shapes/96.svg);
	}

		.bottles > .bottle-1 > .bottle-cap-1 {
			top: -39px;
		}

		.bottles > .bottle-1 > .bottle-hit-effect-1 {
		}

	.bottles > .bottle-2 {
		left: 430px;
		top: 240px;
		background-image: url(shapes/99.svg);
	}

		.bottles > .bottle-2 > .bottle-cap-2 {
			top: -34px;
			transform: scale(0.78, 0.78);
		}

	.bottles > .bottle-1 > .bottle-hit-effect-2 {
	}

	.bottles > .bottle-3 {
		left: 610px;
		top: 190px;
		background-image: url(shapes/102.svg);
	}

		.bottles > .bottle-3 > .bottle-cap-3 {
			top: -31px;
			transform: scale(0.62, 0.62);
		}

	.bottles > .bottle-1 > .bottle-hit-effect-3 {
	}

	.bottles > .bottle-4 {
		left: 50px;
		top: 220px;
		background-image: url(shapes/91.svg);
	}

		.bottles > .bottle-4 > .bottle-cap-4 {
			top: -29px;
			transform: scale(0.54, 0.54);
		}

	.bottles > .bottle-1 > .bottle-hit-effect-4 {
	}

.start-screen {
	z-index: 50;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url(shapes/106.svg);
	opacity: 0.95;
}

	.start-screen > .start-screen-button {
		z-index: 50;
		left: 50%;
		top: 50%;
		width: 434px;
		height: 155px;
		background-image: url(shapes/107.svg);
		background-repeat: no-repeat;
		background-size: contain;
		transform: translate(-50%, -50%) scale(0.8, 0.8);
	}

.end-screen {
	z-index: 60;
	width: 100%;
	height: 100%;
	background-image: url(shapes/142.svg);
	display: none;
}

	.end-screen > .end-screen-score {
		z-index: 60;
		left: 50%;
		top: 65px;
		width: 320px;
		height: 100px;
		transform: translate(-50%, 0);
		font-family: "Arial Black";
	}

		.end-screen > .end-screen-score > .end-screen-score-text {
			z-index: 60;
			width: 320px;
			height: 100px;
			color: #ffffff;
			font-size: 80px;
			line-height: 100px;
			text-align: center;
		}

		.end-screen > .end-screen-score > .end-screen-score-point-text {
			z-index: 60;
			left: 195px;
			width: 320px;
			height: 100px;
			color: #ffffff;
			font-size: 32px;
			line-height: 126px;
		}

		.end-screen > .end-screen-score > .end-screen-score-image {
			width: 320px;
			height: 100px;
			background-image: url(shapes/116.svg);
		}

	.end-screen > .end-screen-result {
		z-index: 60;
		left: 209px;
		top: 180px;
		width: 384px;
		height: 80px;
		background-repeat: no-repeat;
		background-size: contain;
	}

	.end-screen > .end-screen-buttons {
		z-index: 60;
		left: 50%;
		top: 325px;
		width: 320px;
		height: 160px;
		transform: translate(-50%, -35%);
	}

		.end-screen > .end-screen-buttons > .common {
			width: 320px;
			height: 50px;
			background-image: url(shapes/143.svg);
			background-repeat: no-repeat;
			background-size: contain;
			font-size: 32px;
			line-height: 50px;
			text-align: center;
		}

			.end-screen > .end-screen-buttons > .common::before {
				content: ' ';
				left: 16px;
				width: 28px;
				height: 50px;
				background-image: url(shapes/144.svg);
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
			}

		.end-screen > .end-screen-buttons > .end-screen-button-1 {
			top: 0px;
		}

		.end-screen > .end-screen-buttons > .end-screen-button-2 {
			top: 55px;
		}

		.end-screen > .end-screen-buttons > .end-screen-button-3 {
			top: 110px;
		}

.star-flash {
	z-index: 20;
	left: 390px;
	top: -50px;
	width: 381px;
	height: 381px;
	display: none;
	pointer-events: none;
}

	.star-flash > .score-text {
		z-index: 4;
		width: 100%;
		height: 100%;
		left: -165px;
		color: #ff0000;
		font-size: 80px;
		font-family: "Arial Black";
		line-height: 300px;
		text-align: right;
	}

	.star-flash > .point-text {
		z-index: 4;
		color: #000000;
		left: 217px;
		font-size: 32px;
		font-family: "Arial Black";
		line-height: 326px;
	}

	.star-flash > .image {
		left: 0px;
		top: -35px;
		width: 381px;
		height: 381px;
		background-image: url(sprites/19.svg);
		transform: scale(2, 2);
		animation: star_flash 0.25s steps(6) infinite;
	}

.timer {
	z-index: 70;
	left: 12px;
	top: 12px;
	background-color: white;
	border-radius: 1rem;
	color: #0b6cfd;
	font-size: 48px;
	font-family: "Arial Black";
	padding: 0 1rem;
	pointer-events: none;
}

.exit-button {
	z-index: 899;
	right: 20px;
	bottom: 10px;
	width: 64px;
	height: 80px;
}

	.exit-button .common-1 {
		height: 80px;
		background-repeat: no-repeat;
		background-size: contain;
		pointer-events: none;
	}

	.exit-button .common-1 {
		background-repeat: no-repeat;
		background-size: contain;
		pointer-events: none;
	}

	.exit-button .common-2 {
		width: 42px;
		height: 42px;
		background-repeat: no-repeat;
		background-size: contain;
		pointer-events: none;
	}

	.exit-button > .exit-button-door-1 {
		right: -5px;
		width: 53px;
		background-image: url(shapes/81.svg);
		display: none;
	}

	.exit-button > .exit-button-door-2 {
		width: 64px;
		background-image: url(shapes/77.svg);
	}

	.exit-button > .exit-button-text-1 {
		left: -15px;
		top: 2px;
		background-image: url(shapes/78.svg);
	}

	.exit-button > .exit-button-text-2 {
		right: -5px;
		bottom: 2px;
		background-image: url(shapes/79.svg);
	}

.fullscreen {
	z-index: 899;
	left: 20px;
	bottom: 10px;
	width: 80px;
	height: 80px;
	background-image: url(shapes/fullscreen.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.autoplay {
	z-index: 899;
	left: 105px;
	bottom: 10px;
	width: 80px;
	height: 80px;
	background-image: url(shapes/autoplay-play.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.hand-cursor {
	z-index: 999;
	width: 100px;
	height: 100px;
	background-image: url(shapes/130.svg);
	background-repeat: no-repeat;
	background-size: contain;
	transform: scale(1.4, 1.4) translate(-50%,-50%);
	display: none;
	pointer-events: none;
}

.star-cursor {
	z-index: 999;
	width: 98px;
	height: 98px;
	background-image: url(sprites/star-cursor.svg);
	background-repeat: no-repeat;
	transform: translate(-50%,-50%);
	animation: star-cursor 3s steps(39) infinite;
	pointer-events: none;
}
